<div class="container">
  <div class="manager-textbox">
    <div class="manager-text">
      <%= form_with model: @user, url: subscription_settings_path, method: :put, format: :html do |form| %>
        <%= form.hidden_field :email, value: params[:email]  %>
        <%= form.hidden_field :unsub_token, value: params[:unsub_token]  %>
        <div class="row">
          <div class="col-md-6 text-md-left text-center">
            <h3 ><%= t('current_subscriptions') %></h3>
          </div>

        </div>

        <hr>
        <div class="row mt-1">
          <div class="col-12">
            <% flash.each do |key, value| %>

              <div class="alert <%= bootstrap_class_for_flash(key) %> unsub-alert text-center" role="alert">

                  <strong><%= value["header"]%> </strong> <%= value["message"] %>

              </div>
            <% end %>
          </div>
        </div>
        <div class="row  mt-4">
          <div class="col-12">
            <div class="form-check">
              <label class="form-check-label">
                <%= form.check_box :newsletter_subscription, {class: 'form-check-input', checked: @user.newsletter_subscription}, true, false %>
                <%= t('newsletters') %>
              </label>
              <p class="text-muted"><small><%= t('newsletters_subscription_description') %></small></p>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12">
            <div class="form-check">
              <label class="form-check-label">
                <%= form.check_box :chat_notification_subscription, {class: 'form-check-input', checked:  @user.chat_notification_subscription}, true, false  %>
                <%= t('chat_notifications') %>
              </label>
              <p class="text-muted"><small><%= t('chat_subscription_description') %></small></p>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-right">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>