<% present(@user) do |up| %>
  <div class="container nav-button-content">
    <div class="mt-3">
      <div class="content d-none"  id="tabs-dashboard" role="tabpanel" aria-labelledby="profile-tab">
        <%= render 'dashboard', up: up %>
      </div>
      <div class="content d-none"  id="tabs-messages" role="tabpanel" aria-labelledby="messages-tab">
        <div class="jumbotron p-3 mb-3 p-md-4 text-white  bg-blue">
          <div class="col-md-9 px-0">
            <h1 class="display-4"><%= t('read_and_reply_to_messages') %></h1>
            <p class="lead my-3"><%= t('messages_tagline') %></p>
          </div>
        </div>
        <%= render "chat_box" %>
      </div>
      <div class="content d-none"  id="tabs-find-freelancers" role="tabpanel" aria-labelledby="pills-find_freelancers-tab">
        <div class="jumbotron p-3 mb-3 p-md-4 text-dark  bg-light">
          <div class="col-md-9 px-0">
            <h1 class="display-4"><%= t('find_freelancers') %></h1>
            <p class="lead my-3"><%= t('freelance_search_tagline') %></p>
          </div>
        </div>
        <%= render 'find_freelancers' %>
      </div>
      <div class="content d-none"  id="tabs-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
      </div>
      <div class="content d-none"  id="tabs-freelancer-registration" role="tabpanel" aria-labelledby="pills-freelancer-registration-tab">
        <%= render "create_profile_form" %>
      </div>
   </div>
  </div>
<% end %>








