<% present(@user) do |up| %>
  <div class="container nav-button-content">
      <div class="content d-none"  id="tabs-dashboard" role="tabpanel" aria-labelledby="profile-tab">
        <%= render 'dashboard', up: up %>
      </div>
      <div class="content d-none" id="pills-find" role="tabpanel" aria-labelledby="pills-find-tab">
        <%= render 'find_freelancers' %>
      </div>
      <div class="content d-none"  id="tabs-messages" role="tabpanel" aria-labelledby="messages-tab">
        <%= render "chat_box" %>
      </div>
      <div class="content d-none"  id="tabs-find-freelancers" role="tabpanel" aria-labelledby="pills-find_freelancers-tab">
        <%= render 'find_freelancers' %>
      </div>
      <div class="content d-none"  id="tabs-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
      </div>
      <div class="content d-none"  id="tabs-freelancer-registration" role="tabpanel" aria-labelledby="pills-freelancer-registration-tab">
        <%= render "create_profile_form" %>
      </div>
   </div>
<% end %>








