<div id="add-product" class="rounded-0">

  <div class="row">
    <div class="col-12">
      <div class="rounded">
          <%= form_with(html: {id: 'add-product-form'}, model: @product =  user.products.new, url: [user, @product], remote: true) do |form| %>
            <div class="basic-info-nested-fields mb-2">
              <div class="form-row">
                <div class="form-group col-12">
                  <%= form.label :headline %>
                  <%= form.text_field :headline, class: "form-control  whitesmoke-border" %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <%= form.label :description %>
                  <%= form.text_area :description, class: "form-control  whitesmoke-border" %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <%= form.label :cost, "Cost Per Item" %>
                  <%= form.number_field :cost, class: "form-control  whitesmoke-border" %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <%= form.hidden_field :photo, id: 'product_photo' ,"data-public-id": ImageProcessorClient.get_public_id(form.object.photo) %>
                  <%= form.label :photo %>
                  <%= form.cl_image_upload(:photo, {html: {class: "form-control", accept: ".png,.jpg,.jpeg"}} ) %>
                  <div class="mt-3 profile-image-preview">
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="card product-error-card d-none mb-2">
              <div class="card-header bg-danger text-light">
                <%= t('form_error_msg') %>
              </div>
            </div>
            <div class="card product-success-card d-none mb-2">
            </div>
            <div class="text-right">
              <%= form.button class: "btn btn-primary btn-lg " do %>
                <i class="fa fa-circle-notch d-none fa-spin mr-2"></i>Save
              <% end %>

            </div>
          <% end %>

      </div>
    </div>
  </div>




</div>




