<div class="card card-body">
      <div class="container p-0">
        <div class="previous-cards pl-2">

        </div>
      <% present(user) do |user_presenter| %>
        <%= form_with(model: user_presenter.credit_card, url: "/users/#{user_presenter.id}/credit_cards", html: {id: "payment-form", class:"d-none"}, remote: true) do |f| %>
          <h2 class="mt-1"><%=t('billing_form') %></h2>
          <hr>
          <%= f.hidden_field  :front_end_token, id: "credit-card-token", class: :'form-control' %>
          <div class="form-row mt-1">
            <div class="col-md-6 form-group">
              <label>Card Holder Name</label>
              <%= f.text_field :name, id: 'credit-card-name', class: 'form-control'  %>
            </div>
            <div class="col-md-6 form-group">
              <label>Credit or Debit Card</label>
              <div class="card-element form-control">
                <!-- A Stripe Element will be inserted here. -->
              </div>
              <div id="card-errors" role="alert"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label>Address Line 1</label>
              <%= f.text_field :line1, id: 'credit-card-line1',  class: 'form-control'  %>
            </div>
            <div class="col-md-6 form-group">
              <label>Address Line 2 </label>
              <%= f.text_field :line2, id: 'credit-card-line2' ,class: 'form-control' %>
             </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 form-group">
              <label>City</label>
              <%= f.text_field :city, id: 'credit-card-city' ,class: 'form-control'  %>
            </div>
            <div class="col-md-6 form-group">
              <label>State/Province</label>
              <%= f.text_field :state, id: 'credit-card-state' ,class: 'form-control'  %>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 form-group">
              <label>Zip</label>
              <%= f.text_field :zip, id: 'credit-card-zip', class: 'form-control'  %>
            </div>
            <div class="col-md-6 form-group">
              <label>Country</label>
              <%= f.select(:country, stripe_countries, {include_blank: 'Select Your Country'}, {prompt: 'Select Country', id: 'credit-card-country', class: "form-control"})%>
            </div>
          </div>

          <hr>

          <div class="card credit-card-error-card d-none  mb-2">
            <div class="card-header bg-danger text-light">
              <%= t('form_error_msg') %>
            </div>
          </div>
          <div class="card credit-card-success-card d-none mb-2">
            <div class="card-header bg-success text-light"><%= t('saved') %></div>
          </div>

          <div class="pull-right">
            <%= f.submit  id: 'credit-card-form-submit-btn', class:  "btn btn-lg btn-primary" %>
          </div>
          <% end %>
        <% end %>
         </div>
      </div>








