<div class="certification-nested-fields">
  <div class="form-row  mb-3">
    <%= f.fields_for :certification_name do |certification_name| %>
      <div class="form-group col-12">
        <%= certification_name.label :provider %>
        <%= certification_name.select(:provider, ['AWS', 'Google', 'MS Azure'], {include_blank: 'Select Provider' }, { class: 'form-control select-provider', id: nil }) %>
      </div>
      <div class="form-group col-12">
        <%= certification_name.label :certification_name_id %>
        <%= certification_name.select(:certification_name_id, [], {include_blank: 'Select Certification' }, { class: 'form-control select-certificate-name', id: nil }) %>
      </div>
    <% end %>
    <div class="form-group col-12">
      <%= f.label :number, "Certification no." %>
      <%= f.text_field :number, class: 'form-control', id: nil %>
    </div>
  </div>
  <div class="line-separator ">
    <span class="outer-line"></span>
    <span class="fa fa-trophy" aria-hidden="true"></span>
    <span class="outer-line"></span>
  </div>

</div>
