<div id="connection-error-alert" style="display: none;" class="text-center alert alert-danger" role="alert">
  <i class="fa fa-exclamation-triangle"></i>
  <strong class="ml-1 mr-1"><%= t('poor_connection_header') %></strong>
  <%= t('poor_connection_msg') %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
<div class="row no-gutters">
    <div class="col-5 col-md-3">
      <div id="sidebar-wrapper" class="chatsidebar-height sidebar bg-dark mt-4 p-3">
        <ul class="sidebar-nav">
          <% @user.chatroom_presenters.each do |cp| %>
            <li class="chat_list" id = "chatroom_<%= cp.id %>" >
              <div class="<%= cp.latest_message_type_for_user(current_user)%>  chatroom-list-elem" chatroom_id = "<%= cp.id %>"><%= cp.participant_names_excluding_user(current_user) %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-7 col-md-9">
      <div class="chat-box chat-box-height bg-light mt-4 px-3 pt-3">
        <p class="lead text-muted"><%= t('select_chatroom_msg') %></p>
      </div>
      <div class="chat-text-input bg-light chat-input-group-height">
        <div class="input-group msg-input-grp px-3 pt-2" style="display: none">
          <input type="text" class="align-middle form-control write_msg" placeholder="Type a message and hit send" aria-label="Chat textbox"   >
          <div class="input-group-append">
            <button class="msg_send_btn btn btn-outline-secondary"  type="button"  ><%= t('send') %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>