<div class="container-fluid">

<div class="row">
    <div id= "sidebar-wrapper" class="col-3 col-md-2 bg-dark full-height sidebar">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav py-3">
          <% get_chatrooms_with_latest_messages(current_user).each do |chatroom| %>
            <% @chatroom_info = chatroom_info(chatroom, current_user) %>
            <li class="chat_list" id = "chatroom_<%= chatroom.id %>" >
              <div class="chat_room_id" hidden><%= chatroom.id %></div>
              <a class="<%= @chatroom_info.new_message? ? 'new_msg' : '' %> chatroom-link medium" chatroom_id = "<%= chatroom.id %>" href="#"><%= @chatroom_info.recipient %></a>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="col-9 col-md-10 bg-light full-height">
      <div class="container-fluid">
        <div class="chat-box py-3">
          <p class="lead text-muted"><%= t('select_chatroom_msg') %></p>
        </div>
        <div class="chat-text-input">
          <div class="input-group msg-input-grp">
            <input type="text" class="form-control write_msg" placeholder="Type a message and hit send" aria-label="Chat textbox" maxlength="50" >
            <div class="input-group-append">
              <button class="msg_send_btn btn btn-outline-secondary" type="button"  ><%= t('send') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>