<div id="connection-error-alert" style="display: none;" class="text-center alert alert-danger" role="alert">
  <i class="fa fa-exclamation-triangle"></i>
  <strong class="ml-1 mr-1"><%= t('poor_connection_header') %></strong>
  <%= t('poor_connection_msg') %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="container-fluid p-0">
  <% ChatroomPresenter.wrap(@user.chatrooms).reverse.each do |cp| %>
    <% participant = cp.participants_excluding_user(current_user) %>

      <% freelancer =   participant.try(:freelancer) %>
      <% if participant %>
      <div  class=" px-4 d-flex bars flex-row text-dark card  <%= cp.latest_message_type_for_user(current_user) %>  bg-white">
        <div class="port-item p-4 text-center flex-shrink-1" data-toggle="collapse" data-target="#home">
          <% if freelancer.try(:profile_photo) %>
            <img src="<%= cl_image_path(cl_image_path(FreelancerPresenter.new(freelancer).image_public_id, width: 125, height: 125, crop: :scale)) %>">
          <% else %>
            <img src="https://via.placeholder.com/125">
          <% end %>
        </div>
        <div class="port-item py-4" data-toggle="collapse" data-target="#resume">
          <h6><%= UserPresenter.new(participant).full_name %></h6>
          <% if freelancer %>
            <ul class="list-inline mb-1">
              <li class="list-inline-item py-1"><i class="fas fa-dollar-sign mr-1"></i><strong><%= freelancer.rate %> <span class="text-muted mr-1" style="height: 25px">HOUR</span><%= freelancer.rate.to_i * 8 %><span class="ml-1 text-muted" style="height: 25px">DAY</span></strong></li>
              <li class="list-inline-item py-1"><strong><i class="fa mr-1 fa-envelope"></i><%= freelancer.user.relay_user_name %></strong></li>
              <li class="list-inline-item py-1"><strong><i class="fa mr-1 fa-location-arrow"></i><%= FreelancerPresenter.new(freelancer).full_name_location %></strong></li>
            </ul>
          <% end %>
          <blockquote class="pl-1 mb-2">
            <p>Last message: <em><%= cp.last_message.body %></em></p>
          </blockquote>
          <% if freelancer %>
            <div class="profile-chat">
              <div class="about_me">
                <h5 class="font-weight-bold font-underline my-3">About me</h5>
                <p> <span class="font-underline about-header d-none pb-1">About me</span> <%= freelancer.about_me %></p>
              </div>
              <% if freelancer.source_control_url.present? %>
                <div class="mb-2 source_control">
                  <h5 class="font-weight-bold font-underline my-3">Source Control</h5>
                  <div class="resume-section-content">
                    <ul class="px-3">
                      <li>
                        <a href="<%= freelancer.source_control_url %>"><%= freelancer.source_control_url %></a>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>

              <div class="mb-2 work_experience">
                <h5 class="font-underline font-weight-bold my-3">Work Experience</h5>
                <div class="resume-section-content">
                  <ul class="px-3">

                    <% freelancer.work_experiences.each do |we| %>

                      <li>
                        <article class="resume-timeline-item pb-2">
                          <div class="resume-timeline-item-header mb-1">
                            <div class="d-flex flex-column flex-md-row">
                              <h3 class="resume-position-title text-dark font-weight-bold"><%= we.title %></h3>
                            </div><!--//row-->
                            <div class="d-flex flex-column flex-md-row">
                              <h4 class="resume-position-title text-dark"><%= we.employer %></h4>
                            </div><!--//row-->
                            <div class="resume-position-time"><%= we.from %> - <%= we.to.present? ?  we.to : "Present" %></div>
                          </div><!--//resume-timeline-item-header-->
                          <div class="resume-timeline-item-desc">
                            <p class="mb-0 text-dark"><%= we.achievements %></p>
                          </div><!--//resume-timeline-item-desc-->
                        </article><!--//resume-timeline-item-->
                      </li>



                    <% end %>
                  </ul>

                </div>
              </div>
            </div>
          <% end %>
          <div class="mt-2">
            <button data-chatroom="<%= cp.id %>" class="view-messages-btn btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapse<%= cp.id %>" aria-expanded="false" aria-controls="#collapse<%= cp.id %>">
              <%= t('view_messages') %>
            </button>
            <% if freelancer %>
              <a href="#job-form<%=freelancer.id%>" class="btn-warning btn btn-sm hire-me-btn" >Hire Me</a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapse<%= cp.id %>">
        <%= render 'chatbox_id', cp: cp %>
      </div>
      <% if freelancer %>
        <div id="job-form<%=freelancer.id%>"  class="d-none">
          <%= render 'new_job', user: current_user, job: Job.new, freelancer_id: freelancer.id %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>









