<div class="header py-3">
  <h1 class="display-4"><%= t('freelancer_registration_form') %></h1>
  <p class="lead text-muted"><%= t('freelance_form_tagline') %></p>
</div>
<div class="card shadow freelancer-registration">
  <div class="card-body">
    <div class="container p-0">
      <div class="row">
        <div class="col-12">
          <div class="rounded">
            <% present(@user) do |user| %>
              <%= form_for user.freelancer do |form| %>
                <h3 class="mb-4 py-2"><%= t('basic_info')%></h3>
                <div class="basic-info-nested-fields mb-2">
                  <div class="form-row">
                    <div class="form-group col-12">
                      <%= form.label :headline %>
                      <%= form.text_field :headline,  class: "form-control bg-orange whitesmoke-border" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group mt-3 col-12">
                      <%= form.label :about_me %>
                      <%= form.text_area :about_me, class: "form-control bg-orange whitesmoke-border" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group mt-3 col-12">
                      <%= form.label :rate %>
                      <%= form.number_field :rate, class: "form-control bg-orange whitesmoke-border" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group mt-3 col-12">
                      <%= form.label :my_skills %>
                      <%= form.text_field :my_skills, class: 'form-control', placeholder: "(eg., Kubernetes, Ubuntu, Elastic Search)" %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group mt-3 col-12">
                      <%= form.label :profile_photo %>
                      <%= cl_image_upload_tag(:profile_photo, {html: {class: "form-control"}} ) %>
                      <div class="mt-2 preview">
                      </div>
                     </div>
                  </div>
                </div>
                <h3 class="mb-4 py-2"><%= t('certifications')%></h3>
                <%= form.fields_for :certification  do |certification| %>
                  <%= render 'certification_fields', f: certification %>
                  <div class="form-row justify-content-center my-3">
                    <a id="add-more-cert-btn" class="btn btn-outline-dark"><%= t('add_more_certs_btn')%></a>
                  </div>
                <% end %>
                <h3 class="mb-4 py-2"><%= t('work_experience')%></h3>
                <%= form.fields_for :work_experience  do |work_experience| %>
                  <%= render 'work_experience_fields', f: work_experience %>
                  <div class="form-row justify-content-center my-3">
                    <a id="add-more-work-exp-btn" class="btn btn-outline-dark"><%= t('add_more_experiences_btn') %></a>
                  </div>
                <% end %>
                <hr>
                <%= form.submit :class => "btn btn-info btn-bg pull-right" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



