<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="mb-5 mt-4 bg-light rounded">
        <div class="form-header p-3">
        <h3>Sign up to be an Engineer</h3>
        </div>

        <% present(@user) do |user| %>
          <%= form_for user.freelancer, html: {class: 'my-4 px-3 pt-1'} do |form| %>
            <div class="form-row">
              <div class="form-group col-12">
                <%= form.label :headline %>
                <%= form.text_field :headline,  class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group mt-3 col-12">
                <%= form.label :about_me %>
                <%= form.text_area :about_me, class: "form-control" %>
              </div>
            </div>
            <hr>
            <%= form.fields_for :certications do |certification_fields| %>
                <div class="certification-section">
                  <div class="form-row">
                    <div class="col-12">
                      <div class="wrapper my-4">
                        <div class="header">
                          <h4 class="wrapper-label"><i class="pr-1 fa fa-trophy" aria-hidden="true"></i>Certifications</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          <% end %>

        <% end %>


      </div>
    </div>
  </div>
</div>
