<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="shadow-sm p-3 mb-5 mt-4 bg-white rounded">
        <% present(@user) do |user| %>
          <%= form_for user.freelancer, html: {class: 'px-1 pt-1'} do |form| %>
            <legend>Create Freelancer Profile</legend>
            <hr>
            <div class="form-row">
              <div class="col-12">
                <div class="wrapper my-4">
                  <div class="header">
                    <h4 class="wrapper-label"><i class="fa fa-info-circle" aria-hidden="true"></i> General Info</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <%= form.label :headline %>
                <%= form.text_field :headline,  class: "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group mt-3 col-12">
                <%= form.label :about_me %>
                <%= form.text_area :about_me, class: "form-control" %>
              </div>
            </div>

            <%= form.fields_for :educations do |education_fields| %>
              <div class="education-section">
                <div class="form-row">
                  <div class="col-12">
                    <div class="wrapper my-4">
                      <div class="header">
                        <h4 class="wrapper-label"><i class="pr-1 fa fa-graduation-cap" aria-hidden="true"></i>Education</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= education_fields.label :name %>
                    <%= education_fields.text_field :name, class: "form-control" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

        <% end %>


      </div>
    </div>
  </div>
</div>
