<div class="card">
  <div class="card-header">
    <%= t('freelancer_registration_form') %>
  </div>
  <div class="card-body">
    <div class="container p-0">
      <div class="row">
        <div class="col-12">
          <div class="rounded">
            <% present(@user) do |user| %>
              <%= form_for user.freelancer, html: {class: ''} do |form| %>
                <div class="form-row">
                  <div class="form-group col-12">
                    <%= form.label :headline %>
                    <%= form.text_field :headline,  class: "form-control" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group mt-3 col-12">
                    <%= form.label :about_me %>
                    <%= form.text_area :about_me, class: "form-control" %>
                  </div>
                </div>

                <h4 class="my-3"><i class="pr-2 fa fa-trophy" aria-hidden="true"></i>Certifications</h4>

                <%= form.fields_for :certification  do |certification| %>
                  <%= render 'certification_fields', f: certification %>
                  <div class="form-row justify-content-center mt-3">
                    <a id="add-more-cert-btn" class="btn btn-outline-info text-info">+ Add more certifications</a>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



