<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-messages" role="tabpanel" aria-labelledby="messages-tab">
    <%= render "chat_box" %>
  </div>

  <div class="tab-pane fade"  id="find-freelancers" role="tabpanel" aria-labelledby="find_freelancers-tab">
    <%= render 'find_freelancers' %>
  </div>

  <div class="tab-pane fade"  id="pills-payments" role="tabpanel" aria-labelledby="settings-tab">
    <%= render 'freelancer_payout' %>
  </div>

  <div class="tab-pane fade"  id="pills-settings" role="tabpanel" aria-labelledby="settings-tab">
    <%= render 'settings', user: @user %>
  </div>

  <div class="tab-pane fade"  id="pills-jobs" role="tabpanel" aria-labelledby="jobs-tab">
    <%= render 'jobs', user: @user %>
  </div>

  <div class="tab-pane fade" id="pills-freelancer-registration" role="tabpanel" aria-labelledby="pills-freelancer-registration-tab">
    <%= render "freelancer_registration", user: @user %>
  </div>
</div>



