<!-- Banner Start -->
<section class="section banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 class="cd-headline clip is-full-width mb-4 text-light ">
          Buy and Sell<br>
          <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Minimum Viable Products. </b>
                        <b>Algorithms (coming soon).</b>
                        <b>Customization Services.</b>
                    </span>
        </h2>
        <p class="lead jumbotron-lead">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain <br>was born and I will give you a complete account of the system</p>
      </div>
    </div>
  </div>
</section>



<!-- POrtfolio start -->
<section class="portfolio ">
  <div class="container">
    <div class="row py-3">
      <div class="col-10">
        <div class="btn-group btn-group-toggle " data-toggle="buttons">
          <label class="btn active ">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Featured Projects
          </label>
          <label class="btn d-none">
            <input type="radio" name="shuffle-filter" value="design" />MVPs
          </label>
          <label class="btn d-none">
            <input type="radio" name="shuffle-filter" value="branding"   />Docker Images
          </label>
          <label class="btn d-none">
            <input type="radio" name="shuffle-filter" value="illustration"   />Web Development
          </label>
          <label class="btn d-none">
            <input type="radio" name="shuffle-filter" value="photo"  />Photography
          </label>
        </div>
      </div>
    </div>
  </div>
    <div class="row d-none">
      <div class="col-12">
        <div class="input-group" id="adv-search">
          <input type="text" class="border-0 form-control" placeholder="Search for snippets" />
          <div class="input-group-btn">

              <button type="button" class="btn btn-warning search-btn text-dark"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>

          </div>
        </div>
      </div>
    </div>

  <div class="container">
      <div class="row">
          <% ProductPresenter.featured.each do |product| %>

          <div class="col-md-4 pb-3">
            <div class="card">
              <% if product.image_public_id %>
                <a href="/products/<%= product.id %>"><img class="card-img-top" src="<%= cl_image_path(product.image_public_id, width: 300, height: 300, crop: :scale) %>" alt="<%= product.headline %>"></a>
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><a class="product-description" href="/products/<%= product.id %>"><%= product.headline %></a></h4>
                <p class="card-text lead"><%= product.description(true) %></p>
               </div>
              <div class="card-footer bg-white text-muted">
                <p class="card-text float-left d-none lead text-warning mb-0"><%= product.creator %></p>
                <p class="card-text float-right lead text-warning">$<%= product.platform_cost %></p>
              </div>
            </div>
          </div>
          <% end %>
      </div>
  </div>

</section>
<!-- Portfolio End -->





