<div class="container-fluid   <%= user_signed_in? ?  'py-3' : ''%> px-5  ">
  <% unless user_signed_in? %>
  <h2  class="section-header search-for-engineers  pt-4 pb-3">Search for Engineers</h2>
  <% end %>
  <% if user_signed_in? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Terms of service alert!</h4>
      <p> All email communications made by client(s)/engineer(s) must be made through the email relay system. You are allowed to use third party tools for other modes of communication such as video chat or voice calls.</p>
      <hr>
      <p class="mb-0">Lastly, procurement of engineering time must be made on the YumFog payment platform.</p>
    </div>
  <% end %>
  <%= form_tag("/freelancer_searches", remote: true ,method: "get") do %>
    <div class="input-group">
      <%= text_field_tag(:value, nil, class:"form-control   form-control-lg", placeholder: t('search_placeholder'), name: "freelancer_searches[value]") %>
      <div class="input-group-append">
        <%= button_tag :submit, class: 'btn btn-dark' do %>
          <i class="d-none fa fa-circle-notch fa-spin mr-2"></i>Search
        <% end %>
      </div>
    </div>
    <div class="accordion my-2" id="skillsAccordion">
      <% skill =  GetListOfSkillsFromFreelancers.call %>
      <% skill&.keys&.sort&.each_with_index do |k,i| %>
        <div class="card">
          <div class="card-header bg-light p-0" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                Search by <%= k %> Experience
              </button>
            </h5>
          </div>
          <div id="collapse<%= i %>" class="collapse" aria-labelledby="headingOne" data-parent="#skillsAccordion">
            <div class="card-body p-1">
              <div class="d-flex flex-wrap">
                <% skill[k].each do |e| %>
                  <div class="m-2 p-1 rounded bg-light shadow-sm text-dark"><%= check_box_tag 'freelancer_searches[cloud_service_array][]', e[0], false, id: nil, class: 'mr-1' %>  <label><%=e[1]%></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>



  <% end %>
</div>



<div class="freelancer-search-results">
</div>

