<article class="resume-wrapper text-center position-relative">
  <div class="container mx-auto text-left bg-white shadow-lg" style="
  padding-right: 0px;
      padding-left: 0px;
  ">
    <header class="resume-header pt-4 h-sm-100 pt-md-0">
      <div class="media flex-column flex-md-row">
        <img class="mr-3 img-fluid picture mx-auto" src="<%=  image_url("pgphoto.png") %>">
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase"><%= freelancer.name %></h1>
            <div class="title mb-2"><%= freelancer.headline %></div>
            <ul class="list-unstyled hire-contact-btns my-4">
              <li><button type="button" class="btn btn-success mr-2"><i class="mr-1 fas fa-user-check fa-fw mr-2" data-fa-transform="grow-3"></i>Hire</button><button type="button" class="btn btn-light"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>Message</button></li>
            </ul>
          </div><!--//primary-info-->
          <div class="secondary-info ml-md-auto mt-2">
            <ul class="resume-rate list-unstyled">
              <li class="mb-3"> <h4><%= freelancer.rate %></h4> </li>
            </ul>
          </div><!--//secondary-info-->

        </div><!--//media-body-->
      </div><!--//media-->
    </header>
    <div class="resume-body p-5">
      <section class="resume-section summary-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"><%= t('about_me') %></h2>
        <div class="resume-section-content">
          <p class="mb-0"><%= freelancer.about_me %></p>
        </div>
      </section><!--//summary-section-->
      <div class="row">
        <div class="col-lg-9">
          <section class="resume-section certification-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"><%= t('certifications')%></h2>
            <div class="resume-section-content">
              <ul class="list-unstyled">
                <% freelancer.certifications.each do |cert| %>
                  <li class="mb-2">
                    <% certification =  CertificationPresenter.new(cert) %>
                    <div class="resume-certification font-weight-bold"><%= certification.try(:name) %></div>
                    <div class="resume-certification"><%=t('license_number')%>: <span class="font-underline"><%= certification.try(:vendor_identifier) %></span></div>
                    <div class="resume-certification-org"><%= certification.try(:provider) %></div>
                  </li>
                <% end %>
              </ul>
            </div>
          </section><!--//certification-section-->

          <section class="resume-section portfolio-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Portfolio</h2>
            <ul class="resume-social list-unstyled">
              <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/username</a></li>
            </ul>
          </section>
          <section class="resume-section experience-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
            <div class="resume-section-content">
              <div class="resume-timeline position-relative">
                <% freelancer.work_experiences.each do |we| %>
                  <article class="resume-timeline-item position-relative pb-5">
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1"><%= we.title %></h3>
                        <div class="resume-company-name ml-auto"><%= we.employer %></div>
                      </div><!--//row-->
                      <div class="resume-position-time"><%= we.from %> - <%= we.to.present? ? we.to : "Present"  %></div>
                    </div><!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                      <p><%= we.achievements %></p>
                    </div><!--//resume-timeline-item-desc-->

                  </article><!--//resume-timeline-item-->
                <% end %>

              </div><!--//resume-timeline-->
            </div>
          </section><!--//experience-section-->
        </div>
        <div class="col-lg-3">
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-inline">
                  <% freelancer.skill&.types&.split(",")&.each do |skill| %>
                    <li class="list-inline-item"><span class="badge badge-light"><%= skill %></span></li>
                  <% end %>
                </ul>
              </div><!--//resume-skill-item-->
            </div><!--resume-section-content-->
          </section><!--//skills-section-->
        </div>
      </div><!--//row-->
    </div><!--//resume-body-->


  </div>
</article>