<div  class="mb-2 d-flex bars flex-row text-dark card bg-white">
  <div class="port-item p-4 text-center flex-shrink-1" data-toggle="collapse" data-target="#home">
    <% if freelancer.try(:profile_photo) %>
      <img src="<%= cl_image_path(cl_image_path(FreelancerPresenter.new(freelancer).image_public_id, width: 105, height: 105, radius: :max, crop: :scale)) %>">
    <% else %>
      <img src="https://via.placeholder.com/100">
    <% end %>
  </div>
  <div class="port-item py-4 w-100" data-toggle="collapse">
    <h6><%= freelancer.user_name %></h6>
    <h5 class="font-weight-bold"><%= freelancer.headline %></h5>
    <ul class="list-inline mb-1">
      <li class="list-inline-item pb-1"><i class="fas fa-dollar-sign mr-1"></i><strong><%= "#{freelancer.rate} HOUR #{freelancer.rate.to_i * 8} DAY"%></strong></li>
      <li class="list-inline-item pb-1"><strong><i class="fa mr-1 fa-envelope"></i><%= freelancer.user.relay_user_name %></strong></li>
      <li class="list-inline-item pb-1"><strong><i class="fa mr-1 fa-location-arrow"></i><%= FreelancerPresenter.new(freelancer).full_name_location %></strong></li>
    </ul>
    <%= render 'profile', freelancer: freelancer %>

    <div class="mt-2">
       <a data-freelancer= "<%= freelancer.id%>" data-freelancer-user= "<%= freelancer.user.id %>" data-messagebox= "message_box_freelancer_<%= freelancer.id %>" class="btn-info btn text-light btn-sm toggle_message_box">Chat</a>
      <% if freelancer %>
        <button class="btn-warning btn btn-sm hire-me-btn" data-toggle="modal" data-target="#job-form<%=freelancer.id%>" >Hire Me</button>
      <% end %>
    </div>
  </div>
</div>
<div class="message_box_freelancer_<%= freelancer.id %> d-none">
</div>
<div id="job-form<%=freelancer.id%>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-75">New Job for <%= freelancer.user_name %> </h5>
        <button type="button" class="btn btn-light btn-circle " data-dismiss="modal">X</button>
      </div>
      <div class="new_job-<%=freelancer.id%>">
        <%= render 'new_job', {user: current_user, job: Job.new, freelancer_rate: freelancer.rate, freelancer_id: freelancer.id}  %>
      </div>
    </div>
  </div>
</div>


