<div class="container-fluid px-5">
  <% freelancers.each do |freelancer| %>
    <div  class="mb-2 d-flex bars flex-row px-2 py-4 text-dark card" style="visibility: hidden">
      <div class="port-item text-center  p-2  flex-shrink-1">
        <% if freelancer.try(:profile_photo) %>
          <img src="<%= cl_image_path(cl_image_path(FreelancerPresenter.new(freelancer).image_public_id, width: 115, height: 115, radius: :max, crop: :scale)) %>">
        <% else %>
          <img src="https://via.placeholder.com/100">
        <% end %>
      </div>
      <div class="port-item px-3  freelancer-basic-info  w-100">
        <h6><%= freelancer.user_name %></h6>
        <h5 class="font-weight-bold"><%= freelancer.headline %></h5>
        <ul class="my-2 list-inline border-top border-bottom mb-0 text-dark">
          <li class="list-inline-item py-1"><i class="fas fa-dollar-sign mr-1 "></i><%= "#{freelancer.platform_rate} HOUR #{freelancer.platform_rate * 8} DAY"%> </li>
          <% if  user_signed_in?  %>
            <li class="list-inline-item py-1"><i class="fa mr-1 fa-envelope"></i><%= freelancer.user.relay_user_name %></li>
          <% else %>
            <li class="list-inline-item py-1"><i class="fa mr-1 fa-envelope"></i><%= link_to( t('login'), new_user_session_path, class: "btn-link")  %> for Contact Info</li>
          <% end %>
          <li class="list-inline-item py-1"> <i class="fa mr-1 fa-location-arrow"></i><%= FreelancerPresenter.new(freelancer).full_name_location %> </li>
        </ul>
        <%= render 'profile', freelancer: freelancer %>
        <% if user_signed_in? && show_buttons.present?   %>
          <div class="mt-2">
            <a data-freelancer= "<%= freelancer.id%>" data-freelancer-user= "<%= freelancer.user.id %>" data-messagebox= "message_box_freelancer_<%= freelancer.id %>" class="btn-info btn text-light   toggle_message_box">Chat</a>
            <% if freelancer %>
              <button class="btn-success btn  hire-me-btn" data-toggle="modal" data-target="#job-form<%=freelancer.id%>" >Hire Me</button>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if freelancer.try(:featured) %>
        <div class="port-item text-center">
          <h5><span class="badge badge-warning">Featured Engineer</span></h5>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="message_box_freelancer_<%= freelancer.id %> d-none">
      </div>
      <div id="job-form<%=freelancer.id%>" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title w-75">New Job for <%= freelancer.user_name %> </h5>
              <button type="button" class="btn btn-light btn-circle " data-dismiss="modal">X</button>
            </div>
            <div class="new_job-<%=freelancer.id%>">
              <%= render 'new_job', {user: current_user, job: Job.new, freelancer_rate: freelancer.platform_rate, freelancer_id: freelancer.id}  %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %> </div>



