<div id="freelancer-registration" class="rounded-0">
  <div class="container-fluid px-5 py-3">
     <div class="card rounded-0 shadow-sm">
      <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="rounded">
                <% present(user) do |user_presenter| %>
                  <%= form_with(html: {id: 'freelancer-registration-form'}, model: @freelancer = user_presenter.freelancer, url: [user_presenter.model, @freelancer], remote: true) do |form| %>
                    <h2  ><%=t('freelancer_registration_form') %></h2>
                    <hr class="mb-2">
                    <h4 class="bg-light mb-4 pt-3 pl-2 pb-3 blackborder">About me</h4>
                    <div class="basic-info-nested-fields mb-2">
                      <div class="form-row">
                        <div class="form-group col-12">
                          <%= form.label :headline %>
                          <%= form.text_field :headline, class: "form-control  whitesmoke-border" %>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-12">
                          <%= form.label :about_me, "Describe your skills" %>
                          <%= form.text_area :about_me, class: "form-control  whitesmoke-border" %>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-12">
                          <%= form.label :rate %>
                          <%= form.number_field :rate, class: "form-control  whitesmoke-border" %>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-12">
                          <%= form.label :location %>
                          <%= form.select(:location, stripe_countries, {include_blank: 'Select Your Country'}, {:prompt => 'Select Country',class: "form-control"})%>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-12">
                          <%= form.label :source_control_url, "Source Control/Portfolio URL" %>
                          <%= form.text_field :source_control_url, class: "form-control  whitesmoke-border" %>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-12">
                          <%= form.hidden_field :profile_photo, id: 'freelancer_profile_photo' ,"data-public-id": ImageProcessorClient.get_public_id(form.object.profile_photo) %>
                          <%= form.label :profile_photo %>
                          <%= form.cl_image_upload(:profile_photo, {html: {class: "form-control", accept: ".png,.jpg,.jpeg"}} ) %>
                          <div class="mt-3 profile-image-preview">
                          </div>
                        </div>
                      </div>
                    </div>
                    <h4 class="bg-light mb-4 pt-3 pl-2 pb-3 blackborder">Skills</h4>
                    <div class="form-row">
                      <div class="form-group col-12">
                          <button class="btn btn-info" type="button" data-toggle="collapse"   data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">AWS <i class="fas fa-caret-down"></i></button>
                          <button class="btn btn-info" type="button" data-toggle="collapse"   data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Google Cloud <i class="fas fa-caret-down"></i></button>
                          <button class="btn btn-info" type="button" data-toggle="collapse"   data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">MS Azure <i class="fas fa-caret-down"></i></button>
                      </div>
                      <div class="form-group col-12">
                        <div class="collapse multi-collapse" data-provider="AWS" id="multiCollapseExample1">
                          <ul id = "AWS-list" class="list-inline bg-light p-2 text-secondary" style="min-height:110%;">
                          </ul>
                        </div>

                        <div class="collapse multi-collapse" data-provider="Google Cloud" id="multiCollapseExample2">
                          <ul id = "GOOGLECLOUD-list" class="list-inline bg-light p-2 text-secondary" style="min-height:110%;">
                          </ul>
                        </div>
                        <div class="collapse multi-collapse" id="multiCollapseExample3" data-provider="MS Azure">
                          <ul id = "MSAZURE-list" class="list-inline bg-light p-2 text-secondary" style="min-height:110%;">
                          </ul>
                        </div>
                       </div>
                    </div>
                    <h4 class="bg-light mb-4 pt-3 pl-2 pb-3 blackborder"><%= t('certifications')%></h4>
                    <div id='certifications' class="certifications-nested-fields">
                      <%= form.fields_for :certifications, form.object.certifications.present? ? form.object.certifications : form.object.certifications.new do |certification| %>
                        <%= render 'certification_fields', :f => certification %>
                      <% end %>
                      <div class='add-btn text-center'>
                        <%= link_to_add_association "#{t('add_cert_btn')}", form, :certifications, {class:"btn   btn-warning"} %>
                      </div>
                    </div>
                    <h4 class="bg-light mb-4 pt-3 pl-2 pb-3 blackborder"><%= t('work_experiences')%></h4>
                    <div id='work-experiences' class="work-experiences-nested-fields">
                      <%= form.fields_for :work_experiences, form.object.work_experiences.present? ? form.object.work_experiences : form.object.work_experiences.new do |work_experience| %>
                        <%= render 'work_experience_fields', :f => work_experience %>
                      <% end %>
                      <div class='add-btn text-center'>
                        <%= link_to_add_association "#{t('add_experience_btn')}", form, :work_experiences, {class:"btn   btn-warning"} %>
                      </div>
                    </div>
                    <hr>
                    <div class="card freelancer-error-card d-none mb-2">
                      <div class="card-header bg-danger text-light">
                        <%= t('form_error_msg') %>
                      </div>
                    </div>
                    <div class="card freelancer-success-card d-none mb-2">
                    </div>
                    <div class="text-right">
                      <%= form.submit class: "btn btn-primary" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>




