<% user.jobs.order(:id).each do |job| %>
<div style="border-radius: 0" class="d-flex bd-highlight flex-row card">
  <div class="pl-5 pr-3 py-2 text-center approval-col bd-highlight">

    <div class="d-flex flex-column mt-1">
      <% if job.acceptance.nil? %>
        <div class="bd-highlight"><a href="/freelancers/jobs/<%=job.id%>" class="btn-success accept-btn btn w-100 mt-1" >Accept</a></div>
        <div class="bd-highlight"><a href="/freelancers/jobs/<%=job.id%>" class="btn-danger reject-btn btn w-100 mt-1" >Reject</a></div>
      <% elsif job.acceptance %>
        <i class="fas fa-3x p-3 fa-check-circle"></i>
        <% else %>
         <i class="fas fa-3x p-3 fa-times-circle"></i>
      <% end %>
    </div>
  </div>
  <div class="py-1 mt-2 flex-grow-1">
    <h5>Job ID #<%= job.id %></h5>
    <ul class="list-inline mb-2">
      <li class="list-inline-item"><strong><i class="fa fa-user mr-1"></i><%= UserPresenter.new(job.user).full_name%></strong></li>
      <li class="list-inline-item"><i class="fas fa-calendar mr-1"></i> <strong> <%= job.from %> to <%= job.to %> </strong></li>
      <li class="list-inline-item"><i class="fas fa-stopwatch mr-1"></i><strong><%= job.hours.to_i %> hours</strong></li>
    </ul>
    <div class="job-description">
      <p><%= job.description %></p>
    </div>

  </div>
</div>
<% end %>

