<div class="container-fluid p-0">
  <% jobs.each do |job_presenter| %>
      <div class="card rounded-0 border-bottom-0">
        <div class="card-body px-5 job-card-body">
          <div class="bg-secondary text-center text-light">
            <ul class="list-inline m-0">
              <li class="list-inline-item px-3 py-2">Job #<%= job_presenter.id %></li>
              <% if cancel_btn %>
                <li class="list-inline-item px-3 py-2"><i class="fa fa-user mr-1"></i><%= job_presenter.freelancer.user_name %> (<%= job_presenter.freelancer.user.relay_user_name %>)</li>
            <% else %>
                <li class="list-inline-item px-3 py-2"><i class="fa fa-user mr-1"></i><%= job_presenter.poster %> (<%= job_presenter.poster_email%>)</li>
            <% end %>
              <li class="list-inline-item px-3 py-2"><i class="fa fa-calendar mr-1"></i><%= job_presenter.from %> to <%= job_presenter.to %></li>
              <li class="list-inline-item px-3 py-2"> <i class="fa fa-stopwatch mr-1"></i><%= job_presenter.hours.to_i %> hours</li>
              <li class="list-inline-item px-3 py-2"> <i class="fa fa-dollar-sign mr-1"></i><%= job_presenter.total %> Total</li>
            </ul>
          </div>
          <div class="bg-light px-2 py-4">
            <p class="card-text lead text-justify bg-light" style="color:black"><%= job_presenter.description %></p>
          </div>
          <div class="approval-col text-right mt-2 approval-col-job-<%= job_presenter.id %>">
            <% if cancel_btn.present? %>
              <% if job_presenter.acceptance %>
                <a href="/freelancers/job_approvals/<%=job_presenter.id%>" class="btn-danger  btn" >Dispute</a>
              <% else %>
                <a href="/freelancers/job_approvals/<%=job_presenter.id%>" class="btn-danger  btn" >Cancel</a>
              <% end %>
            <% else %>
              <% if job_presenter.acceptance.nil? %>
                <a href="/freelancers/job_approvals/<%=job_presenter.id%>" class="btn-success accept-btn btn" >Accept</a>
                <a href="/freelancers/job_approvals/<%=job_presenter.id%>" class="btn-danger reject-btn btn" >Reject</a>
              <% elsif job_presenter.acceptance %>
                <p class="text-success m-0">Approved</p>
              <% else %>
                <p class="text-danger m-0">Rejected</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

