<div class="container-fluid p-0">
  <% JobPresenter.wrap(user.jobs.where(acceptance: [true, nil]).order(:id)).each do |job_presenter| %>
      <div class="card rounded-0 border-bottom-0">
        <div class="card-body px-5 job-card-body">
           <div class="bg-light px-1 py-2">
            <p class="card-text lead text-justify bg-light" style="color:black"><%= job_presenter.description %></p>
          </div>
          <div class="bg-secondary text-center text-light">
          <ul class="list-inline">
            <li class="list-inline-item px-3 py-2">Job #<%= job_presenter.id %></li>
            <li class="list-inline-item px-3 py-2"><i class="fa fa-user mr-1"></i><%= job_presenter.poster %> (<%= job_presenter.poster_email%>)</li>
            <li class="list-inline-item px-3 py-2"><i class="fa fa-calendar mr-1"></i><%= job_presenter.from %> to <%= job_presenter.to %></li>
            <li class="list-inline-item px-3 py-2"> <i class="fa fa-stopwatch mr-1"></i><%= job_presenter.hours.to_i %> hours</li>
            <li class="list-inline-item px-3 py-2"> <i class="fa fa-dollar-sign mr-1"></i><%= job_presenter.total %> Total</li>
          </ul>
          </div>


          <div class="approval-col text-right approval-col-job-<%= job_presenter.id %>">
          <%= render 'job_approval_btns', job_presenter: job_presenter %>
          </div>
        </div>
      </div>
  <% end %>
</div>

