<div id="connection-error-alert" style="display: none;" class="text-center alert alert-danger" role="alert">
  <i class="fa fa-exclamation-triangle"></i>
  <strong class="ml-1 mr-1"><%= t('poor_connection_header') %></strong>
  <%= t('poor_connection_msg') %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container-fluid px-5 py-3">
  <% ChatroomPresenter.wrap(user.chatrooms).each do |cp| %>
    <% participant = cp.participants_excluding_user(current_user) %>
      <% freelancer = participant.try(:freelancer) %>
      <% if participant %>
      <div style="visibility: hidden" class="mb-2 d-flex bars flex-row p-4 text-dark card rounded-0  <%= cp.latest_message_type_for_user(current_user) %>  bg-white">
        <div class="port-item text-center flex-shrink-1 pb-3" data-toggle="collapse" data-target="#home">
          <% if freelancer.try(:profile_photo) %>
            <img src="<%= cl_image_path(cl_image_path(FreelancerPresenter.new(freelancer).image_public_id, width: 105, height: 105,  radius: :max, crop: :scale)) %>">
          <% else %>
            <img class="round-img" src="https://via.placeholder.com/105">
          <% end %>
        </div>
        <div class="port-item px-3   freelancer-basic-info  w-100" data-toggle="collapse" data-target="#resume">
          <% if freelancer %>
            <h6><%= freelancer.user_name %></h6>
            <ul class="my-2 list-inline  border-top border-bottom mb-1 text-dark">
              <li class="list-inline-item pb-1"><i class="fas fa-dollar-sign mr-1"></i><strong><%= "#{freelancer.rate} HOUR #{freelancer.rate.to_i * 8} DAY"%></strong></li>
              <li class="list-inline-item py-1"><strong><i class="fa mr-1 fa-envelope"></i><%= freelancer.user.relay_user_name %></strong></li>
              <li class="list-inline-item py-1"><strong><i class="fa mr-1 fa-location-arrow"></i><%= FreelancerPresenter.new(freelancer).full_name_location %></strong></li>
            </ul>
          <% else %>
            <h6><%= UserPresenter.new(participant).full_name %></h6>
          <% end %>
          <% if freelancer %>
            <%= render 'profile', freelancer: freelancer %>
          <% end %>
          <div class="mt-2">
            <button data-chatroom="<%= cp.id %>" class="view-messages-btn btn btn-info" type="button" data-toggle="collapse" data-target="#collapse<%= cp.id %>" aria-expanded="false" aria-controls="#collapse<%= cp.id %>">
              <%= t('view_messages') %>
            </button>
            <% if freelancer %>
              <button class="btn-success btn" data-toggle="modal" data-target="#msg-job-form-<%=freelancer.id%>" >Hire Me</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="collapse collapse-<%= cp.id %>" id="collapse<%= cp.id %>">
        <%= render 'chatbox_id', cp: cp %>
      </div>
      <% if freelancer %>
        <div id="msg-job-form-<%=freelancer.id%>"  class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title w-75">New Job for <%= freelancer.user_name %> </h5>
                <button type="button" class="btn btn-light btn-circle " data-dismiss="modal">X</button>
              </div>
              <div class="new_job-<%=freelancer.id%>">
                <%= render 'new_job', user: current_user, job: Job.new, freelancer_id: freelancer.id, freelancer_rate: freelancer.rate %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<script>

    bindChatroomToRecieveMessages();
    subscribeToRooms();

</script>








