
    <div class="container">
      <div class="row p-0">
        <div class="col-12 p-0">
            <%= form_with(model: [user, job], class: "#{freelancer_id} new-job-form", remote: true) do |form| %>
            <div class="modal-body">
              <div class="basic-info-nested-fields mb-2">
                <div class="form-row">
                  <%= form.hidden_field :freelancer_id, class:"job-form-freelancer-id", value: freelancer_id %>
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <%= form.label :description %>
                    <%= form.text_area :description, class: "form-control  whitesmoke-border" %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <%= form.label :hours, "Job Duration (hrs)" %>
                    <%= form.number_field :hours, total_field: "job-total-#{freelancer_id}", rate: "#{freelancer_rate}" , class: "form-control job-total  whitesmoke-border", min: 1, max: 80 %>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <%= form.label :total %>
                    <h5 class="job-total-<%= freelancer_id %>">$0</h5>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <%= form.label :from, "Job Start Date" %>
                    <%= form.text_field :from, class: 'form-control', "data-provide":'datepicker', id: nil %>
                  </div>
                </div>
                <% last_4 = user.credit_cards.last.try(:last_4) %>
                <% if last_4.present? %>
                  <div class="form-row">
                    <div class="form-group col-12">
                      <%= form.label :credit_card %>
                      <%= form.text_field :credit_cards, class: 'form-control', disabled: true, value: "**** **** **** #{last_4}" %>
                      <div class="checkbox mt-3">
                        <label><input type="checkbox" data-freelancer="<%= freelancer_id %>" class="different-card-checkbox mr-2" value="">Use Different Card</label>
                      </div>
                    </div>
                  </div>
                <% end %>


                <div class = "new-card-section <%= last_4.present? ? "d-none" : '' %>">
                  <%= form.hidden_field  :front_end_token,  class: :'credit-card-token form-control' %>
                  <%= form.hidden_field  :total,  class: "job-total-#{freelancer_id}  form-control" %>
                  <div class="form-row mt-1">
                  <div class="col-md-6 form-group">
                    <label>Card Holder Name</label>
                    <%= form.text_field :name, class: 'credit-card-name form-control'  %>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Card Number</label>
                    <div id="card-element-for-freelancer-<%= freelancer_id %>" class="card-element form-control">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <div class="card-errors" role="alert"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <label>Address Line 1</label>
                    <%= form.text_field :line1, class: 'credit-card-line1 form-control'  %>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Address Line 2 </label>
                    <%= form.text_field :line2,class: 'credit-card-line2 form-control' %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <label>City</label>
                    <%= form.text_field :city, class: 'credit-card-city form-control'  %>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>State/Province</label>
                    <%= form.text_field :state, class: 'credit-card-state form-control'  %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <label>Zip</label>
                    <%= form.text_field :zip, class: 'credit-card-zip form-control'  %>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Country</label>
                    <%= form.select(:country, stripe_countries, {include_blank: 'Select Your Country'}, {prompt: 'Select Country', class: "credit-card-country form-control"})%>
                  </div>
                </div>
                  <div class="form-row">
                  <div class="col-md-12 text-center">
                    <button type="button" data-freelancer="<%= freelancer_id %>"   class="btn d-none btn-md btn-info p-2 save_card_btn">+ Save Card</button>
                  </div>
                  </div>
                </div>


                <div class="card credit-card-error <%= freelancer_id %> d-none  mb-2">
                  <div class="card-header bg-danger text-light">
                    <%= t('form_error_msg') %>
                  </div>
                </div>
                <div class="card credit-card-success <%= freelancer_id %> d-none mb-2">
                  <div class="card-header bg-success text-light"><%= t('saved') %></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="pull-right">
                <%= form.button class: "btn btn-primary " %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>




