$("label > .text-danger").empty()
$(".fa-circle-notch").addClass("d-none")
<% if @product.errors.full_messages.present? %>
  var productSuccessCard =  $('.product-success-card')
  var productErrorCard = $('.product-error-card')
  productErrorCard.removeClass('d-none')
  productSuccessCard.addClass('d-none')
<% else %>
    $("#add-product").html("<%= escape_javascript(render partial: 'add_product', locals: { user: @user } ) %>");
     bindCloudinaryElement();
     var productSuccessCard =  $('.product-success-card')
     var productErrorCard = $('.product-error-card')
     productErrorCard.addClass('d-none')
     productSuccessCard.removeClass('d-none')
     productSuccessCard.html("<div class=\"card-header bg-success text-light\"><%= t('saved') %></div>")
     location.reload()
 <% end %>
 <% @product.errors.messages.each do |key ,values| %>

  <% values.each do |value| %>
    if ("<%=key%>" == "certifications.certification_name" && "<%=raw value %>" == "must exist"){
        $('.form-row.certificate-number-selected').not('.select-certificate-selected').find('.select-certificate').siblings("label").append(" <span class='text-danger'><%= raw value %></span>")
    }else if("<%=key%>" == "certifications.vendor_identifier" && "<%=raw value %>" == "can't be blank"){
        $('.form-row.select-certificate-selected').not('.certificate-number-selected').find('.certificate-number').siblings("label").append(" <span class='text-danger'><%= raw value %></span>")

    }else if("<%=key%>" == "work_experiences.title" && "<%=raw value %>" == "can't be blank"){
        $("#work-experiences").find('.work-experience-achievements-selected,.work-experience-employer-selected, .work-experience-from-selected, .work-experience-to-selected').not(".work-experience-title-selected").find('.work-experience-title').siblings("label").append("<span class='text-danger'><%= raw value %></span>")

    }else if ("<%=key%>" == "work_experiences.employer" && "<%=raw value %>" == "can't be blank"){
        $("#work-experiences").find('.work-experience-achievements-selected,.work-experience-title-selected, .work-experience-from-selected, .work-experience-to-selected').not(".work-experience-employer-selected").find('.work-experience-employer').siblings("label").append("<span class='text-danger'><%= raw value %></span>")

    }else if ("<%=key%>" == "work_experiences.from" && "<%=raw value %>" == "is invalid"){
        $("#work-experiences").find('.work-experience-achievements-selected,.work-experience-title-selected, .work-experience-employer-selected, .work-experience-to-selected').not(".work-experience-from-selected").find('.work-experience-from').siblings("label").append("<span class='text-danger'><%= raw value %></span>")

    }else if ("<%=key%>" == "work_experiences.to" && "<%=raw value %>" == "is invalid"){
        $("#work-experiences").find('.work-experience-achievements-selected, .work-experience-title-selected, .work-experience-employer-selected, .work-experience-from-selected').not(".work-experience-to-selected").find('.work-experience-to').siblings("label").append("<span class='text-danger'><%= raw value %></span>")

    }else{
        $("label[for='product_" + "<%= key %>" + "']").append(" <span class='text-danger'><%= raw value %></span>")
    }
  <% end %>
<% end %>



