<article class="profile   pr-2 text-justify">

    <div class="about_me">
      <p class="mb-0"> <span class="font-underline about-header d-none pb-1">About me</span> <%= freelancer.about_me %></p>
    </div>
    <% if freelancer.source_control_url.present? %>
      <div class="source_control mb-4">
        <h4 class="font-weight-bold font-underline my-3">Source Control</h4>
        <div>
          <ul class="px-3 mb-0">
            <li>
              <a href="<%= freelancer.source_control_url %>"><%= freelancer.source_control_url %></a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <% if freelancer.work_experiences.present? %>
      <div class="work_experience mb-4">
        <h4 class="font-underline font-weight-bold my-3">Work Experience</h4>
        <ul class="px-3 mb-0">

          <% freelancer.work_experiences.each do |we| %>

            <li class="mb-2">
                <div class=" mb-1">
                  <div class="d-flex flex-column flex-md-row">
                     <h5 class="text-dark"><%= we.title %></h5>
                  </div><!--//row-->
                  <div class="d-flex flex-column flex-md-row">
                    <h4 class="resume-position-title text-dark"><u><%= we.employer %></u></h4>
                  </div><!--//row-->
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                  <p class="mb-0 text-dark"><%= we.achievements %></p>
                </div><!--//resume-timeline-item-desc-->
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <% if freelancer.certification_names.present? %>
      <div class="certifications mb-4">
        <h4 class="font-underline font-weight-bold my-3">Certifications</h4>
        <ul class="px-3 mb-0">
          <% freelancer.certification_names.group_by(&:provider).each do |k, v| %>

            <li>
               <h5 class="text-dark mb-1"><%= k %></h5>

              <ul class="list-inline pl-0 mb-3">
                <% v.each do |cert| %>
                  <li class="list-inline-item">
                    <h5><span class="badge badge-warning"><%= cert.name %></span></h5>

                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <% if freelancer.cloud_services.present? %>
      <div class="source_control mb-4">
        <h4 class="font-underline font-weight-bold my-3">Skills</h4>
        <ul class="px-3 mb-0">
          <% freelancer.cloud_services.group_by(&:provider).each do |k, v| %>
            <li>
               <h5 class="text-dark  mb-1"><%= k %></h5>
              <ul class="list-inline pl-0 mb-3">
                <% v.each do |cert| %>
                  <li class="list-inline-item">
                    <h5><span class="badge badge-info"><%= cert.name %></span></h5>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </article>
