<% jobs = JobPresenter.wrap(user.freelancer&.jobs.order(:id))%>
<div class="container-fluid px-5 py-3">
  <% jobs.each do |job_presenter| %>
    <div class="card mb-2 rounded-0">
      <div class="card-body p-0 job-card-body">
        <div class="bg-secondary text-center text-light">
          <ul class="list-inline m-0">

            <li class="list-inline-item px-3 py-2">Job #<%= job_presenter.id %></li>
            <li class="list-inline-item px-3 py-2"><i class="fa fa-user mr-1"></i><%= job_presenter.poster %> (<%= job_presenter.poster_email%>)</li>
            <li class="list-inline-item px-3 py-2"><i class="fa fa-calendar mr-1"></i><%= job_presenter.from %></li>
            <li class="list-inline-item px-3 py-2"> <i class="fa fa-stopwatch mr-1"></i><%= job_presenter.hours.to_i %> hours</li>
            <li class="list-inline-item px-3 py-2"> <i class="fa fa-dollar-sign mr-1"></i><%= job_presenter.total %> Total</li>
          </ul>
        </div>
        <div class="bg-light px-2 py-4">
          <p class="card-text lead text-justify bg-light" style="color:black"><%= job_presenter.description %></p>
        </div>
        <div class="approval-col text-right bg-light  px-2 py-2 approval-col-job-<%= job_presenter.id %>">


            <% if job_presenter.acceptance.nil? %>
              <a href="/freelancers/job_approvals/<%=job_presenter.id%>" class="btn-success accept-btn btn" >Accept</a>
              <a href="/freelancers/job_approvals/<%=job_presenter.id%>" class="btn-danger reject-btn btn" >Reject</a>
            <% elsif job_presenter.acceptance %>
              <p class="text-success m-0">Approved</p>
            <% else %>
              <p class="text-danger m-0">Rejected</p>
            <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>

