<div class="form-row mb-2">
  <%= f.hidden_field :id, class: "form-control", id: nil %>
  <div class="form-group col-12">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control work-experience-title', id: nil %>
  </div>
  <div class="form-group col-12">
    <%= f.label :employer %>
    <%= f.text_field :employer, class: 'form-control work-experience-employer', id: nil %>
  </div>
  <div class="form-group col-12">
    <%= f.label :from %>
    <%= f.text_field :from, class: 'form-control work-experience-from', "data-provide":'datepicker', id: nil %>
  </div>
  <div class="form-group col-12">
    <%= f.label :to %>
    <%= f.text_field :to, class: 'form-control work-experience-to', "data-provide":'datepicker', id: nil %>
  </div>
  <div class="form-group col-12">
    <%= f.label :achievements %>
    <%= f.text_area :achievements, class: 'form-control work-experience-achievements', id: nil %>
  </div>
  <div class="line-separator w-100">
    <span class="outer-line"></span>
    <span class="fa fa-briefcase" aria-hidden="true"></span>
    <span class="outer-line"></span>
  </div>
</div>
