<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Row -->
  <div class="row my-4">

    <div class="col-md-8">
      <img class="img-fluid" src="<%= @product.photo %>" alt="">
    </div>

    <div class="col-md-4">
      <h1 class="mb-3"><%= @product.headline %></h1>
      <button class="mb-2 btn-success btn btn-lg">Buy ($<%= @product.platform_cost %>)</button>
      <p><%= @product.description %></p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <% @product.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="d-none my-4">Related Projects</h3>

  <div class="d-none row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
