<!DOCTYPE html>
<html>
<head>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevopsOnDemand</title>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class=<%= "#{controller.controller_name}_#{controller.action_name}" %> >
  <% if render_navbar_and_footer? %>
    <nav class="navbar navbar-light bg-white navbar-expand-lg">
      <div class="container-fluid px-5 py-3">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>YumFog</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <%= render 'login_logout' %>
        </div>
      </div>
    </nav>
  <% end %>
  <% if controller.controller_name == 'dashboard' %>
    <nav class="navbar d-flex flex-row subnav bg-white navbar-expand">
      <div class="container-fluid px-5">
          <ul  class="nav nav-pills nav-pills-underline nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item py-2">
              <a class="nav-link d-none" id="pills-freelancer-registration-tab" data-toggle="pill" href="#freelancer-registration" role="tab" aria-controls="pills-create-profile" aria-selected="false"><i class="fa fa-user-circle mr-1"></i><%= t('register_as_a_freelancer') %></a>
            </li>

            <li class="nav-item py-2 pr-4">
              <a class="nav-link" id="pills-find-freelancers-tab" data-toggle="pill" href="#find-freelancers" role="tab" aria-controls="pills-find-freelancers" aria-selected="false"><i class="fa fa-search mr-1"></i><%= t('find_freelancers') %></a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item py-2 pr-4">
              <a class="nav-link" id="messages-tab" data-toggle="pill" href="#messages" role="tab" aria-controls="messages" aria-selected="false"><i class="fa fa-comments mr-1"></i><%= t('messages') %></a>
            </li>

            <li class="nav-item dropdown py-2 pr-4">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-briefcase mr-1" aria-hidden="true"></i>Jobs</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" id="pills-posted-jobs-tab" data-toggle="pill" role="tab" aria-controls="pills-posted-jobs-tab" href="#posted-jobs" aria-selected="false">Posted</a>
                <a class="dropdown-item" id="pills-received-jobs-tab" data-toggle="pill" role="tab" aria-controls="pills-received-jobs-tab" href="#received-jobs" aria-selected="false">Received</a>
              </div>
            </li>
            <% if freelancer? %>
              <li class="nav-item dropdown py-2 pr-4">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog  "></i> Freelancer Settings</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" id="pills-posted-jobs-tab" data-toggle="pill" role="tab" aria-controls="pills-posted-jobs-tab" href="#freelancer-registration" aria-selected="false">Profile</a>
                  <a class="dropdown-item" id="pills-received-jobs-tab" data-toggle="pill" role="tab" aria-controls="pills-received-jobs-tab" href="#freelancer-payout" aria-selected="false">Payout</a>
                </div>
              </li>
            <% else %>
              <li class="nav-item py-2">
                <a class="nav-link d-none" id="pills-freelancer-registration-tab" data-toggle="pill" href="#freelancer-registration" role="tab" aria-controls="pills-create-profile" aria-selected="false"><i class="fa fa-user-circle mr-1"></i><%= t('register_as_a_freelancer') %></a>
              </li>
            <% end %>
            <li class="nav-item py-2 pr-4">
              <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false"><i class="fa fa-cog mr-1"></i><%= t('account_settings') %></a>
            </li>
          <% end %>
        </ul>

    </div>
  </nav>
 <% end %>
<%= yield %>

</body>

</html>
