<!DOCTYPE html>
<html>
<head>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YumFog - <%= @product.present? ? "#{@product.headline}" : "Marketplace for half-finished code - Prebuilt features and templates that you can use for your minimum viable product." %></title>
  <meta name="description" content="<%= @product.present? ? "#{@product.description}" : "Buy & Sell prototypes, half-finished code, unused dockers " %>" />

  <%= csrf_meta_tags %>


  <% if user_signed_in? %>
    <script src="https://js.stripe.com/v3/"></script>
  <% end %>
  <script>

      window.gon={};
      <% if user_signed_in? %>
      gon.current_user_id= <%= current_user.id %>
          <% if current_user.try(:product) %>
          gon.product_id = <%= current_user.product.id %>
              <% else %>
              gon.product_id = null;
      <% end %>
      <% else %>
      gon.current_user_id= null;
      gon.product_id= null;
      <% end %>
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class= <%= "#{controller.controller_name}_#{controller.action_name}" %> >
  <% if render_navbar_and_footer? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container">
    <a class="navbar-brand" href="#">YumFog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <%= render 'add_product_modal', user: current_user %>
          <%= render 'settings_modal', user: current_user %>
          <li>
            <a class="nav-link text-dark" id="pills-add-product-tab"   style="cursor:pointer"  data-toggle="modal" data-target="#addProductModal" aria-controls="add-product" aria-selected="false"><i class="fas fa-plus mr-1"></i>Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="pills-settings-tab"  style="cursor:pointer" data-toggle="modal" data-target="#settingsModal" aria-controls="settings" aria-selected="false"><i class="fa fa-cog mr-1"></i>Account Settings</a>
          </li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-dark nav-link") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to( t('signup'), new_registration_path('user'), class: "text-dark nav-link")  %>
          </li>
          <li class="nav-item">
            <%= link_to( t('login'), new_user_session_path, class: "text-dark nav-link")  %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>



  <% end %>





<%= yield %>


 <!-- Footer -->
 <footer class="page-footer py-2 font-small bg-white">

   <!-- Copyright -->
   <div class="footer-copyright text-center py-1">© <%= Date.today.year %>
       YumFog LLC
   </div>
   <!-- Copyright -->
   <div class="footer-privacy-policy text-center py-1">
     <a href="https://s3.amazonaws.com/devops-on-demand/text/PRIVACY+POLICY.txt">Privacy Policy</a>
   </div>
 </footer>
 <!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/rails-ujs@5/lib/assets/compiled/rails-ujs.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/cocoon-rails@1/src/cocoon.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/readmore-js@2/readmore.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>

</html>
