<!DOCTYPE html>
<html>
<head>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YumFog - <%= @product.present? ? "#{@product.headline}" : "Marketplace for half-finished code - Prebuilt features and templates that you can use for your minimum viable product." %></title>
  <meta name="description" content="<%= @product.present? ? "#{@product.description}" : "Buy & Sell prototypes, half-finished code, unused dockers " %>" />

  <%= csrf_meta_tags %>


  <% if user_signed_in? %>
    <script src="https://js.stripe.com/v3/"></script>
  <% end %>
  <script>

      window.gon={};
      <% if user_signed_in? %>
      gon.current_user_id= <%= current_user.id %>
          <% if current_user.try(:freelancer) %>
          gon.freelancer_id = <%= current_user.freelancer.id %>
              <% else %>
              gon.freelancer_id = null;
      <% end %>
      <% else %>
      gon.current_user_id= null;
      gon.freelancer_id= null;
      <% end %>
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class= <%= "#{controller.controller_name}_#{controller.action_name}" %> >
  <% if render_navbar_and_footer? %>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">YumFog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav">
      <li>
        <a class="nav-link" id="pills-add-product-tab" data-toggle="pill" href="#add-product" role="tab" aria-controls="pills-add-product" aria-selected="false"><i class="fa fa-plus mr-1"></i>Add Product</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item pr-4">
          <a class="nav-link" id="pills-settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false"><i class="fa fa-cog mr-1"></i><%= t('account_settings') %></a>
        </li>
      <% end %>
    </ul>


      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-dark nav-link") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to( t('signup'), new_registration_path('user'), class: "text-dark nav-link")  %>
          </li>
          <li class="nav-item">
            <%= link_to( t('login'), new_user_session_path, class: "text-dark nav-link")  %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>
<div class="search-section border-top bg-light py-3 px-5">
  <div class="container">
    <div class="input-group" id="adv-search">
      <input type="text" class="border-0 form-control" placeholder="Search for snippets" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button type="button" class="btn rounded-0 btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by</label>
                  <select class="form-control">
                    <option value="0" selected>All Snippets</option>
                    <option value="1">Featured</option>
                    <option value="2">Most popular</option>
                    <option value="3">Top rated</option>
                    <option value="4">Most commented</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contain">Author</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Contains the words</label>
                  <input class="form-control" type="text" />
                </div>
                <button type="submit" class="btn  h-100 btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </div>
          </div>
          <button type="button" class="btn btn-warning search-btn text-dark"><span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>
        </div>
      </div>
    </div>
  </div>
</div>



  <% end %>





<%= yield %>


 <!-- Footer -->
 <footer class="page-footer py-2 font-small bg-white">

   <!-- Copyright -->
   <div class="footer-copyright text-center py-1">© <%= Date.today.year %>
       YumFog LLC
   </div>
   <!-- Copyright -->
   <div class="footer-privacy-policy text-center py-1">
     <a href="https://s3.amazonaws.com/devops-on-demand/text/PRIVACY+POLICY.txt">Privacy Policy</a>
   </div>
 </footer>
 <!-- Footer -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/rails-ujs@5/lib/assets/compiled/rails-ujs.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/cocoon-rails@1/src/cocoon.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/readmore-js@2/readmore.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>

</html>
