<!DOCTYPE html>
<html>
  <head>
    <title>DevopsOnDemand</title>
    <%= csrf_meta_tags %>
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% unless login_or_registration_page? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>YumFog</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <%if user_signed_in? %>
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><%= t("find_freelancers") %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-jobs-tab" data-toggle="pill" href="#pills-jobs" role="tab" aria-controls="pills-home" aria-selected="false"><%= t("jobs") %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><%= t("profile") %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><%= t("contact") %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-messages-tab" data-toggle="pill" href="#pills-messages" role="tab" aria-controls="pills-messages" aria-selected="false"><%= t("messages") %></a>
              </li>
            </ul>
          <%  end %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to( t('signup'), new_registration_path('user'), class: "nav-link")  %>
            </li>
            <li class="nav-item">
              <%= link_to( t('login'), new_user_session_path, class: "nav-link")  %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>


    <%= yield %>
  </body>
</html>
