<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevopsOnDemand</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>
  <body class=<%= "#{controller.controller_name}_#{controller.action_name}" %> >

  <% if render_navbar_and_footer? %>


      <nav class="navbar navbar-dark box-shadow navbar-expand-lg bg-dark">
        <div class="container py-2">
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>YumFog</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to( t('signup'), new_registration_path('user'), class: "nav-link")  %>
            </li>
            <li class="nav-item">
              <%= link_to( t('login'), new_user_session_path, class: "nav-link")  %>
            </li>
          </ul>
        </div>
        </div>
      </nav>

     <% end %>
    <%= yield %>
  </body>
</html>
