<!DOCTYPE html>
<html>
<head>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevopsOnDemand</title>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
  <script src="https://js.stripe.com/v3/"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class=<%= "#{controller.controller_name}_#{controller.action_name}" %> >
<% if render_navbar_and_footer? %>
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container p-2">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>YumFog</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <%= render 'login_logout' %>
      </div>
    </div>
  </nav>
<% end %>
<%= yield %>
</body>
</html>
